body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    background-color: orangered;
    height: 100px;
    width: 100%;
}
#hero{
    display: flex;
    height: 300px;
    width: 100%;
    background: blue;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

